CONFIG_IDF_TARGET="esp32c6"

# ESP Matter Providers (fixed defaults)
# DAC provider: test (example)
CONFIG_EXAMPLE_DAC_PROVIDER=y
# CONFIG_FACTORY_PARTITION_DAC_PROVIDER is not set
# CONFIG_CUSTOM_DAC_PROVIDER is not set

# Commissionable data provider: custom
# CONFIG_FACTORY_COMMISSIONABLE_DATA_PROVIDER is not set
CONFIG_CUSTOM_COMMISSIONABLE_DATA_PROVIDER=y

# Device Instance Info provider: custom
# CONFIG_EXAMPLE_DEVICE_INSTANCE_INFO_PROVIDER is not set
# CONFIG_FACTORY_DEVICE_INSTANCE_INFO_PROVIDER is not set
CONFIG_CUSTOM_DEVICE_INSTANCE_INFO_PROVIDER=y

# Device Info provider: custom
# CONFIG_NONE_DEVICE_INFO_PROVIDER is not set
# CONFIG_FACTORY_DEVICE_INFO_PROVIDER is not set
CONFIG_CUSTOM_DEVICE_INFO_PROVIDER=y

# ESP Matter limits
CONFIG_ESP_MATTER_MAX_DYNAMIC_ENDPOINT_COUNT=16
